
:root {
    --lightGreen:rgb(193,225,189);
    --darkGreen: rgb(31, 49, 28);
}
#main{



    color: red;
    border: 2px solid greenyellow;
    height: 250px;
    width: 250px;
    font-size: 100px;
    text-align: center;


}

.important {
    color: var(--darkGreen);
    border: 5px black;
}

:a hover {
    transform: scale();
}


nav a {
color: black;
display: inline;
}

#example {
    width: 100px;
    height: 100px;
    background-color: var(--darkGreen);
}

