<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSSTennis.css">
    <script src="../static/TennisJS.js"></script>
</head>
<body class="Body" id="ContactPage">

    <div class="navbar">
        <a href="../templates/Home.html">Home</a>
        <a href="../templates/ContactPage.html">Contact</a>
      </div>
      
      
    <h1 id="header">Tennis World</h1>
    <h2 id="description" style="color:rgb(197, 22, 22)">To better health and mind</h2>

    <div class="leftsection">
    <form action="/action_page.php" method="get">
        <label for="fname">First Name:</label> <tr> <td>
        <input type="text" id="fname" name="fname" required maxlength="20"><br><br> 
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required maxlength="20"><br><br>
        <label for="pnumber">Phone Number:</label>
        <input type="tel" id="pnumber" name="pnumber" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        required placeholder="123-4567-8901"><br><br>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required pattern="[^ @]*@[^ @]*"><br><br>
        <label for="check">I have played tennis before</label>
        <input type="checkbox" id="check" name="check"><br><br>
        <label for="text">My Expierence:</label>
        <select name="list" id="years" required>
            <option>Beginner</option>
            <option>1 year</option>
            <option>2-3</option>
            <option>4-6</option>
            <option>Juniors League</option>
            <option>Nationals League</option>
        </select><br><br>

        <input type="submit" value="Submit">
        
        </form>
    </div>
 
        <div class="rightsection">
            <label for="moreinfo">Tell us more about your expierence</label><br><br>
            <textarea name="text" id="info" cols="30" rows="10"></textarea>
        </div>


</body>
</html>